{% extends "blog_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    {% if name %}
    <h1 class="header">{{ name }}</h1>
    {% endif %}
    <div class="wrapper blog">
        {% for post in posts_data %}

        <div class="item">
            
            <h3 class="blog-title"><a class="underline" href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
            {% if post.authors.all %}
                <h4>By 
                {% for author in post.authors.all %}
                    {% if forloop.first %}{% else %}
                        {% if forloop.last %} and {% else %}<span style="margin-left:-5px;">,</span>{% endif %}
                    {% endif %}<a class="no-decoration" href="{{author.get_absolute_url}}">{{author}}</a>
                {% endfor %}
                </h4>
            {% endif %}
            <h6 class = "blog-date">{{ post.created | date:"M d, Y" }}<h6>
            {% if post.first_image_id %}
            <figure style="margin-bottom: 10px;" class="container-blog"><a href="{{post.get_absolute_url}}" class="underline"><img class='img-responsive img-blog' style="margin: 0 auto;" src="{{post.first_image.path}}"></a></figure>
            {% endif %}
            <p class="post-teaser">{{post.teaser}}</p>
            <a class="read-more" href="{{post.get_absolute_url}}">Read More</a>
        </div>

    {% endfor %}
</div>
</div>
    <div class="text-center">
        <div class="pagination text-center">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
    
    </div>

    <div class = "container">
 <div class="item">
    <div class="row">
     <div class="col-md-4">
      <article>
      <a href = "/advertise" class = "sponsored-link"> Sponsored </a>
        <figure class="resize-image" style="margin:auto;">
          <!--pass in art image link HERE-->
          <a href = "http://www.purekauai.com/"> <img src="/media/ads/kauai.jpg" class = "img-responsive" alt="Main Image" > </a>
        </figure>
        </article>
    </div>
       <div class="col-md-4">
      <article>
      <a href = "/advertise" class = "sponsored-link"> Sponsored </a>
        <figure class="resize-image" style="margin:auto;">
          <!--pass in art image link HERE-->
          <a href = "https://www.glasswithatwist.com "> <img src="/media/ads/glass_with_a_twist.jpg" class = "img-responsive" alt="Main Image" > </a>
    </div>
    <div class="col-md-4">
      <article>
      <a href = "/advertise" class = "sponsored-link"> Sponsored </a>
        <figure class="resize-image" style="margin:auto;">
          <!--pass in art image link HERE-->
          <a href = "https://www.shanvalley.com"> <img src="/media/ads/shan.jpg" class = "img-responsive" alt="Main Image" > </a>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}