{% extends "blog_base.html" %} {% block content %} {% load staticfiles %} {% load social_share %}


<div class="container">

	<h1 class="header">Submit to the Blog</h1>

	<p style="font-size: 20px; text-align: center; text-indent: 0px;"> <b> Notes from 21 South Street </b> is the internety, pretty chill digital wing of The Harvard Advocate, and we’re looking
		for writers, reviewers, artists, culture critics, playlist-makers, infographic designers & more to submit work! </p>
	</br>
	<p style="text-align: center; font-weight: bold; text-decoration: underline;"> What can you write? </p>

	</br>

	<p style="text-indent: 0px;">
		The boundaries of the blog are flexible & open to creative interpretation. You can submit <span style="text-decoration: underline">anything that is longer than a tweet and shorter than a feature.</span>		Posts that fall outside the bounds of our print content are preferred. Try media we don’t publish in print, like flash
		fiction, audio or video, or make use of hyperlinks and other digital resources.
	</p>

	</br>

	<p style="text-align: center; text-decoration: underline;">
		There *are* five primary ‘types’ of blog posts.
	</p>

	<p style="text-indent: 0px; line-height: 30px;">

		<b>Critique:</b> Review an album/book/performance event. Publish your own criticism.

		</br>

		<b>Echo:</b> Commentary & personal responses to recent events, to something you’ve read.

		</br>

		<b>Hyperlink:</b> Write about anything *internet,* send us around the web, use links!

		</br>

		<b>Transcripts:</b> Interview artists, musicians professors, your friends on a subject of your choosing. Have conversations
		with contributors to the magazine.

		</br>

		<b>Miscellany:</b> Misc. posts are rapid-fire fragments, 4-5 sentences. They’re short, but still have to have impact. Think
		something like: "Swordfish, perhaps the world’s fastest swimmers, secrete performance-enhancing grease from the base of
		their swords that helps them swim at an estimated sixty-two miles per hour. “This isn’t ordinary fish slime,” said a researcher
		in 2016. "

		</br>
	</p>

	</br>

	<p style="text-decoration: underline; font-weight: bold; text-align: center;"> How do you submit? </p>

	<p style="text-indent: 0px;"> Send your posts to <a href="mailto:blog@theharvardadvocate.com" style="color: darkblue"> blog@theharvardadvocate.com</a>.
	</p>

</div>
{%endblock%}