{% extends "base_original.html" %}
{% load staticfiles %}
    
{% block content %}
<h1> MISCELLANY </h1>
<div class="container">
<a href= "/blog/blog_submit" class="no-decoration"><h3> submit a
        thought </h3></a>
{% for post in miscellany reversed%}
{% if forloop.counter0|divisibleby:2 %}
<div class="row">
{% endif %}
    <div class="col-md-6">
        <div class="post-pub_date"> {{post.pub_date}} </div>
        {% if post.image %}
        <figure class="resize-image" style="margin:auto;">
            <img src="{{ MEDIA_URL }}{{post.image|safe}}" class=img-responsive"
                 alt="Main Image">
        </figure>
        {% endif %}
        <p class="post-body"> {{post.body_text}} </p>
         {% if post.link != null %} 
        <a href = {{post.link}} target="_blank" class = "no-decoration"><p class="post-link">
            {{post.link}}</p></a>
           {% endif %}
        <form id="voteform" form action="blog_miscellany.html" method="post">
            {% csrf_token %}
            <INPUT type="image" src="{{ MEDIA_URL }}{{post.smoke_image|safe}}"
                            value="Vote" id="vote-button" span id="vote-count">
        </form>
          <div class="post-nickname"> {{post.nickname}} </div>
    </div>
{% if forloop.counter|divisibleby:2 %}
</div>

{% endif %}
{% endfor %}

{% endblock %}
