{% extends "blog_base.html" %} {% block content %} {% load staticfiles %} {% load social_share %}


<div class="container">
	<!-- Go to www.addthis.com/dashboard to customize your tools -->
<h1 class="header"> About the Blog </h1>

<h2> Blog Staff: </h2>
	<ul class="board-list list-left">
		<em><li>Blog Editor</li></em>
		<li>Critique</li>
		<li>Echo</li>
		<li>Hyperlink</li>
		<li>Transcripts</li>
		
	</ul>
	<ul class="board-list list-right">
		<em><li>CELINE VENDLER</li></em>
		<li>MATT BROWNE </li>
		<li>EDITH ENRIGHT </li>
		<li>ADRIANO IQBAL </li>
		<li> MADISON GONZALEZ </li>
		
</ul>

</div>

</br>

{% include "blog_submit_text.html" %}

{%endblock%}