{% extends "blog_base.html" %}

{% block content %}
{% load staticfiles %}
{% load social_share %}


<div class = "container">
<!-- Go to www.addthis.com/dashboard to customize your tools -->

<h1 class="header">The Advocate Blog Staff</h1>

</br>

<ul class="board-list list-left">
		<em><li>Blog Editor</li></em>
		<li>Critique</li>
		<li>Echo</li>
		<li>Hyperlink</li>
		<li>Transcripts</li>
		
	</ul>
	<ul class="board-list list-right">
		<em><li>TARPLEY HITT </li></em>
		<li>MATT BROWNE </li>
		<li>EDITH ENRIGHT </li>
		<li>ADRIANO IQBAL </li>
		<li> MADISON GONZALEZ </li>
		
</ul>

<p style="text-align: center">
	Submissions can be emailed to <a href="mailto:blog@theharvardadvocate.com"> blog@theharvardadvocate.com</a>.
</p>

</div>
{%endblock%}
