{% extends "base_original.html" %}{% block content %}


<div class="container">
	<h1 class="header">150th ANNIVERSARY</h1>

	<h2 class="subheader">ANNOUNCING THE HARVARD ADVOCATE’S 150th ANNIVERSARY!</h2>
	<p class = "text"> The <i>Advocate</i> has one of the richest histories of any collegiate literary magazine in the country, and certainly one of the longest. Its precursor, the <i>Collegian</i>, had hardly drawn breath enough to pronounce an attack on mandatory chapel attendance before the scandalized faculty had the publication closed. But the Pegasus, which rose from the ashes, retained the Collegian’s motto: Dulce est Periculum -- Danger is sweet. Despite her turbulent beginning and transgressive mantra, The Advocate has survived for almost 150 years. In 2016, we celebrate our sesquicentennial. </p>

	<h2 class="subheader">The 150th Anniversary Capital Campaign</h2>

	<p class="text">We are pleased to announce the launch of our 150th Anniversary Capital Campaign, which will safeguard our history and secure our future as a literary production and cultural space. Our target $150,000 funds four ventures:</p>
	<br>
		<li class="text">Archive Digitization: E.A. Robinson, Wallace Stevens, e.e. cummings, and T.S. Eliot all published their undergraduate poetry here, but their papers are only casually stored in our sanctum. Digitizing our archives will properly preserve our history and make that history accessible to members, scholars, and the broader arts and literary community.</li><br>
		<li class="text">Financial Aid Initiative: There should be no financial barriers for undergraduate members to participate fully in the Advocate as an organization. Yet literary events, board dinners, and even printing costs currently are currently paid for by members on a personal basis. This program would fund every Advocate member on financial aid in all Advocate-related expenses for ten years. </li><br>
		<li class="text">Building Repairs: The Advocate’s home on 21 South Street was christened in 1957 with a living horse-turned-Pegasus. Years of use, however, now require maintenance our yearly operating budget cannot finance. Investing in key repairs like window and door replacements will modernize the building: making it more energy efficient and a better space for meetings and events.</li><br>
		<li class="text">Endowment: Bolstering the Advocate’s finances will ensure the staying power of these vital initiatives and protect the magazine and organization.</li><br>

<p class="text">Please visit our <a href="/donate">Donate</a> page to support these endeavors. You may donate to either a specific initiative or the initiative of greatest need.</p>
<br>
<div class="center"><a href="/donate" class="btn btn-primary">MAKE A DONATION</a></div>

	<h2 class="subheader">The 150th Anniversary Anthology</h2>
		<p class="text"> The sesquicentennial also provides the perfect opportunity to centralize our institutional memory. One facet of this initiative will be the publication of an anthology to commemorate 150 years of artistic and literary achievement. Still in its early stages, the anthology will include varied excerpts from our archives, supplementary essays by Advocate alumni, historical commentary and criticism, and other printed Advocate memorabilia. </p>

	<h2 class="subheader"> A Note to Our Alumni: </h2>

	<p class="text">More than just a fundraising project, we see the 150th as a multifaceted initiative that prioritizes the strengthening and solidification of the Advocate’s extended community. Our sesquicentennial offers the perfect opportunity to reconnect and revisit cherished memories. Please visit our <a href="/alumni">Alumni</a> page or <a href="/contact">contact us</a> to learn more about how you can be involved in these projects or stay in better touch with the Advocate. We look forward to hearing from alumni and friends near and far. </p>
<br>
<div class="center"><a href="/alumni" class="btn btn-primary">JOIN THE ALUMNI NETWORK</a></div>
{% endblock %}