{% extends "base_original.html" %}

{% block content %}

<div class="container">
	<h1 class="header">ABOUT US</h1>
	<p class="text"> The Harvard Advocate, founded in 1866, is the oldest continuously published collegiate literary magazine in the country. Over its long history, it can count T.S. Eliot, Conrad Aiken, and Norman Mailer among its members and e.e. cummings, Jack Kerouac, and Tom Wolfe as contributors to its pages. A quarterly magazine, its mission is to publish the best art, fiction, poetry, and prose that the Harvard undergraduate community offers. </p>
	<h2 class="subheader">     EXECUTIVE BOARD 2017 </h2>
	<ul class="board-list list-left">
		<li>President</li>
		<li>Publisher</li>
		<li>Art Editor</li>
		<li>Business Manager</li>
		<li>Design Editors</li>
		<li>&ensp;</li>
		<li>Features Editor</li>
		<li>Fiction Editor</li>
		<li>Poetry Editor</li>
		<li>Technology Editor</li>
		<li>Blog Editor</li>
		<li>Hermes</li>
		<li>&ensp;</li>
		<li>Pegasi</li>
		<li>&ensp;</li>
		<li>&ensp;</li>
		<li>Dionysi</li>
		<li>&ensp;</li>
		<li>Diversity Chair</li>
		<li>Hestia</li>
		<li>Librarian</li>
	</ul>
	<ul class="board-list list-right">
		<li>NATASHA LASKY ’19 </li>
		<li>BYUNG JOON LEE ’20 </li>
		<li>NATALIE COHEN ‘20 </li>
		<li>OLIVIA THURMAN ‘20 </li>
		<li>FRED KELLY ‘20 </li>
		<li>EMMA STONE ‘19 </li>
		<li>SABRINA LI ‘20 </li>
		<li>EMILY ZHAO ‘19 </li>
		<li>THAYER ANDERSON ‘20 </li>
		<li>JASON THONG ‘19 </li>
		<li>CELINE VENDLER ‘20 </li>
		<li>CARLOS AGREDANO ‘20 </li>
		<li>RAFA HERNANDEZ ‘19 </li>
		<li>ALEX COHEN ‘20 </li>
		<li>MARELLA GAYLA ‘19 </li>
		<li>CHARLES HORAN ‘18 </li>
		<li>JOE KERWIN ‘19 </li>
		<li>ELIYA SMITH '20 </li>
		<li>TAWANDA MULALU ‘20 </li>
		<li>ANGELA HUI ‘20 </li>
		<li>BALIM BARUTCU ‘19 </li>
	</ul>
</div>


{% endblock %}
