{% extends "base_original.html" %}

{% block content %}

<div class="container">
	<h1 class="header">ABOUT US</h1>
	<p class="text"> <i>The Harvard Advocate</i>, founded in 1866, is the oldest continuously published collegiate literary magazine in the country. Over its long history, it can count T.S. Eliot, Conrad Aiken, and Norman Mailer among its members and e.e. cummings, Jack Kerouac, and Tom Wolfe as contributors to its pages. A quarterly magazine, <i>The Advocate</i>'s mission is to publish the best art, fiction, poetry, and prose that the Harvard undergraduate community offers. </p>
	<h2 class="subheader">     EXECUTIVE BOARD 2019 </h2>
	<ul class="board-list list-left">
		<li>President</li>
		<li>Publisher</li>
		<li>Art Editor</li>
		<li>Business Manager</li>
		<li>Design Editors</li>
		<li>&ensp;</li>
		<li>Features Editor</li>
		<li>Fiction Editor</li>
		<li>Poetry Editor</li>
		<li>Technology Editor</li>
		<li>Blog Editor</li>
		<li>Hermes</li>
		<li>&ensp;</li>
		<li>Pegasi</li>
		<li>&ensp;</li>
		<li>&ensp;</li>
		<li>Dionysi</li>
		<li>&ensp;</li>
		<li>Diversity Chair</li>
		<li>Hestia</li>
		<li>&ensp;</li>
		<li>Alumni Relations Manager</li>
		<li>Librarian</li>
	</ul>
	<ul class="board-list list-right">
		<li>SABRINA LI</li>
		<li>ELIYA SMITH</li>
		<li>MARIKO O'NEIL</li>
		<li>ANDREW ZUCKER</li>
		<li>ESTEBAN ARELLANO</li>
		<li>JENNY HUANG</li>
		<li>EVA ROSENFELD</li>
		<li>ANGELA HUI</li>
		<li>ALEX COHEN</li>
		<li>DANIEL INGE</li>
		<li>CARLOS AGREDANO</li>
		<li>MARIE UNGAR</li>
		<li>HULYA KOSEMATOGLU</li>
		<li>CHE APPLEWAITE</li>
		<li>OWEN TORREY</li>
		<li>ECE HAKIM</li>
		<li>ELIZA RUBIN</li>
		<li>NILA ANNADURAI</li>
		<li>TE PALANDJIAN</li>
		<li>NATALIE COHEN</li>
		<li>JOHN CREED</li>
		<li>ANDREW HUANG</li>
		<li>CELINE VENDLER</li>
	</ul>
</div>


{% endblock %}
