{% extends "base_original.html" %}

{% block content %}

<div class="container">
	<h1 class="header">ABOUT US</h1>
	<p class="text"> The Harvard Advocate, founded in 1866, is the oldest continuously published collegiate literary magazine in the country. Over its long history, it can count T.S. Eliot, Conrad Aiken, and Norman Mailer among its members and e.e. cummings, Jack Kerouac, and Tom Wolfe as contributors to its pages. A quarterly magazine, its mission is to publish the best art, fiction, poetry, and prose that the Harvard undergraduate community offers. </p>
	<h2 class="subheader">EXECUTIVE BOARD 2015 </h2>
	<ul class="board-list list-left">
		<li>President</li>
		<li>Publisher</li>
		<li>Art Editor</li>
		<li>Blog Editor</li>
		<li>Business Manager</li>
		<li>Design Editors</li>
		<li>&ensp;</li>
		<li>Features Editor</li>
		<li>Fiction Editor</li>
		<li>Poetry Editor</li>
		<li>Technology Editor</li>
		<li>Hermes</li>
		<li>Pegasi</li>
		<li>&ensp;</li>
		<li>&ensp;</li>
		<li>Dionysi</li>
		<li>&ensp;</li>
		<li>Circulation & Publicity Managers</li>
		<li>&ensp;</li>
		<li>Librarian</li>
		<li>Alumni Relations Manager</li>
		<li>Communicorn</li>
		<li>Hestia</li>
	</ul>
	<ul class="board-list list-right">
		<li>KIARA BARROW  </li>
		<li>COLTON VALENTINE </li>
		<li>YUNHAN XU </li>
		<li>FAYE ZHANG</li>
		<li>HAYDEN BETTS </li>
		<li>SIMONE HASSELMO </li>
		<li>CONNOR COOK </li>
		<li>SAM REYNOLDS </li>
		<li>EMMA ADLER </li>
		<li>ROBBIE EGINTON </li>
		<li>JENNY GAO </li>
		<li>YUQI HOU </li>
		<li>LILY SCHERLIS </li>
		<li>JAKE SEATON </li>
		<li>HENRY SHAH </li>
		<li>ALICE JU</li>
		<li>JACK KLEINMAN </li>
		<li>EDITH ENRIGHT </li>
		<li>LUKE FIEWEGER </li>
		<li>HARRY CHOI </li>
		<li>MAIA SILBER </li>
		<li>CALEB LEWIS </li>
		<li>ELI LEE</li>
	</ul>
</div>


{% endblock %}
