{% extends "base_original.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
<h1 class="header">SUBMIT AD COPY MATERIALS</h1>
<p> 
Thank you for supporting the Harvard Advocate. Below you will find information on how to upload your ad copy materials. Please reach out to the Business Manager (business@theharvardadvocate.com) with any questions or concerns.
</p>

<table align="center" >
    <tr>
        <th> <p> PUBLICATION SCHEDULE </p> </th>
          <th> <p> ADVERTISEMENT SIZES </p> </th>
        </tr>
    <tr>
         <td style="padding-right:5em;">
            <p>
            Fall 2016 </br>
            Advertising Deadline: October 14, 2016
            </p>
            <p>
            Winter 2016 </br>
            Advertising Deadline: December 16, 2016
            </p>
            <p> 
            Spring 2017 </br>
            Advertising Deadline: March 18, 2017
            </p>
            <p>
            Summer 2017 </br>
            Advertising Deadline: April 22, 2017
            </p>
        </td>
        <td>
            <p>1/4 Page: 3.75” x 4.75”</p>
            <p>1/2 Page: 7.5” x 4.75”</p>
            <p>Full Page: 7.5” x 9.5”</p>
            <p>Inside Cover: 7.5” x 9.5”</p>
            <p>Back Cover: 7.5” x 9.5”</p>
        </td>
    </tr>
</table>

<p>
    Please verify that all images have a resolution of at least 300 DPI. All materials must be uploaded by the advertising deadline in order to guarantee your ad runs in its designated issue. If we have not received your finished copy or materials to create your copy by the advertising deadline, we may be forced to move your ad placement to the next available issue.
</p>

<div class="submitAd">
<h4>
    <a href="https://script.google.com/macros/s/AKfycbzHr6b8P7jGd2eKMUEJmoa1YqkFiv4hCdQazMSDcu6-aEPXq_A/exec?page=copy" target="_blank">Submit finished ad copy</a>
</h4>
</div>

<div class="submitAd">
<h4>
    <a href="https://script.google.com/macros/s/AKfycbzHr6b8P7jGd2eKMUEJmoa1YqkFiv4hCdQazMSDcu6-aEPXq_A/exec?page=design" target="_blank">Submit ad design request</a>
</h4>
</div>


</div>
{% endblock %}



