{% extends "base_original.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
<h1 class="header">ADVERTISE WITH US</h1>
<p class="text"> 
We accept advertisements in most formats, commonly the following: tiff, jpg, pdf, or Adobe Photoshop/Illustrator. To learn more about great advertising opportunities with The Harvard Advocate, please contact our business manager, Hayden Betts at <a href="mailto:haydenbetts@college.harvard.edu">haydenbetts@college.harvard.edu</a>.
</p>
</div>
{% endblock %}