<!doctype html>
{% extends "anthology_base.html" %}
{% load staticfiles %}


{% block content %}

  	<!-- Javascript for panels -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head> 

  <script type="text/javascript">
  $(document).ready(function() {
    var open_panel  = null;

    // hide all panels on load
    $(".panel").hide();

    // open panel when clicked
    $(".decade").click(function() {
        if (open_panel != null) {
          // if this panel is open we are closing it
          if (open_panel[0] == $(this)[0]) {
            open_panel = null;
          }
          // otherwise, close the other open panel
          else {
            var openPanelId = "#panel" + open_panel.attr("id").replace("flip", "");
            $(openPanelId).slideToggle("slow");
            open_panel.toggleClass('active');
            console.log("panel closed");
            open_panel = $(this);
          }
        }
        else
        {
          open_panel = $(this);
        }

        // open/close panel when decade clicked
        var panelId = "#panel" + $(this).attr("id").replace("flip", "");
        $(panelId).slideToggle("slow");

        // scroll to top of panel
        var targetOffset = $(this).offset().top;
        $('html,body').animate({scrollTop: targetOffset}, 500);

        // make the decade active/inactive
        $(this).toggleClass('active');

        // console.log(open_panel);
    });
    $(".xbutton").click(function() {
        // open/close panel when decade clicked
        var panelId = "#panel" + $(this).attr("id").replace("xbutton", "");
        $(panelId).slideToggle("slow");

        var decadeId = "#flip" + $(this).attr("id").replace("xbutton", "");
        
        // scroll to top of panel
        var targetOffset = $(decadeId).offset().top;
        $('html,body').animate({scrollTop: targetOffset}, 500);

        // make the decade inactive
        $(decadeId).toggleClass('active');

        open_panel = null;
    });
  });
  </script>

<body class="anthology">
	<h1>
		ANTHOLOGY
	</h1>

	{% for decade, content in decades.items %}
		<div class="decade hvr-fade" id= 'flip{{decade.id}}' 
      style='background-image: url("{{decade.get_image}}");'>
			<h3> {{ decade.name }} </h3>
		</div>
    {% include "panel.html" %}  
	{% endfor %}
  <div> &nbsp; </div>
</body>

{% endblock %}