{% extends "base_original.html" %}

{% block content %}
{% load staticfiles %}
{% load social_share %}

<div class = "container">
	<H1> {{ article.title }} </h1>
	<h2 class="subheader"> {{ article.contributors.all }} 
	{% post_to_facebook object_or_url "Post to Facebook" %} {% post_to_twitter "Check this Harvard Advocate piece out:" object_or_url "Post to Twitter" %}	</h2>
	<p> {{article.body|safe}} </p>
	<p class = "subheader">
	{% post_to_facebook object_or_url "Post to Facebook" %} {% post_to_twitter "Check this Harvard Advocate piece out:" object_or_url "Post to Twitter" %}	</p>

</div>
{%endblock%}
