{% extends "blog_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    {% if name %}
    <h1 class="header">{{ name }}</h1>
    {% endif %}
    <div class="wrapper blog">
        {% for post in posts_data %}

        <div class="item">
            
            <h3 class="blog-title"><a class="underline" href="{{post.get_absolute_url}}">{{post.title}}</a></h3>
            {% if post.authors.all %}
            <h4>By {% for author in post.authors.all %}
                {% if forloop.first %}{% else %}
                    {% if forloop.last %} and {% else %}<span style="margin-left:-5px;">,</span>{% endif %}
                {% endif %}<a class="no-decoration" href="{{author.get_absolute_url}}">{{author}}</a>
            {% endfor %}
            </h4>
            {% else %}

            {% endif %}

            <!-- How to check if image exists:
            http://stackoverflow.com/questions/6637168/python-django-templates-and-testing-if-a-variable-is-null-or-empty-string?rq=1
            http://stackoverflow.com/questions/12507281/determine-empty-template-variable-in-django -->
            {% if post.first_image_id %}
            <figure style="margin-bottom: 10px;" class="container-blog"><a href="{{post.get_absolute_url}}" class="underline"><img class='img-responsive img-blog' style="margin: 0 auto;" src="{{post.first_image.path}}"></a></figure>
            {% endif %}
            <p>{{post.teaser}}</p>
            <p><a class="read-more" href="{{post.get_absolute_url}}">Read More</a></p>
        </div>

    {% endfor %}
</div>
</div>
    <div class="text-center">
        <div class="pagination text-center">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    </div>
    
    </div>

</div>
{% endblock %}