{% extends "blog_base.html" %}

{% block content %}
{% load staticfiles %}
{% load social_share %}


<div class = "container">
<!-- Go to www.addthis.com/dashboard to customize your tools -->

				 
				 		
		<p><em>The Harvard Advocate</em>, founded in 1866, is the oldest continuously published collegiate literary magazine in the country. Over its past 146 years, it can count T.S. Eliot, Conrad Aiken, and Norman Mailer among its members and e.e. cummings, Jack Keroauc, and Tom Wolfe as contributors to its pages. A quarterly magazine, its mission is to publish the best art, fiction, poetry, and prose that the Harvard undergraduate community offers.</p>
<p style="text-align:center;"><strong>The Advocate Blog Staff<br />
</strong><em>Faye Yan Zhang</em><br />
<i>Lucas Quatrecasas<br />
</i><i>Maia Silber<br />
</i><i>Edith Enright<br />
</i><i>Matt Krane<br />
</i><i>Brendan Bozorgmir<br />
</i><i>Caleb Lewis<br />
</i><i>Garrett Allen<br />
</i><i>Rachael Smith<br />
</i><i>Luke Fieweger</i></p>

</div>
{%endblock%}
