{% extends "base_original.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
<h1 class="header">SPRING 2018 COMP</h1>
<p class="text">
Between its seven boards--Art, Business, Design, Features, Fiction, Poetry, Technology--The Advocate provides a home for writers, artists, critics, designers, web designers, dealmakers, and all others with an interest in the arts and letters. Every semester, The Advocate selects new members through a “Comp” process open to all Harvard undergraduates.<br><br>

Our Introductory Comp Meetings will be held on Monday, January 29th, Tuesday, January 30th, and Thursday, February 1st at 9PM at 21 South Street. 
<br><br>
 Compers are evaluated exclusively on their ability to discuss, write about, create, design, sell, or code art. Though our comp is selective, our hope is that all participants will find it an enriching and rewarding experience. Please direct specific questions about the comp to the <a href="http://theharvardadvocate.com/about">editor of the board</a> that you are interested in comping. Updates to the intro comp meeting will be posted on the <a style="color:blue;" href="https://www.facebook.com/events/905664556260073/">Facebook event page</a>.  
 {% comment %} If you are interested in comping, please <a style="color:blue;" href="https://docs.google.com/forms/d/1ibMjpyhNXzrRgiBdPhRZGtm9anMRTX2wkAhRVNi9XCw/viewform"> sign up here</a>. {% endcomment %}
 
</p>


</div>
{% endblock %}

