{% extends "base_original.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
<h1 class="header">SPRING 2016 COMP</h1>
<p class="text">
Between its seven boards--Art, Business, Design, Features, Fiction, Poetry, Technology--The Advocate provides a home for writers, artists, critics, designers, web designers, dealmakers, and all others with an interest in the arts and letters. Every semester, The Advocate selects new members through a “Comp” process open to all Harvard undergraduates.<br><br>

Our Introductory Comp Meetings will be held on Monday, February 1 and Thursday, February 4th, at 8PM. If you are interested in comping, please <a href="https://docs.google.com/a/college.harvard.edu/forms/d/1OOeGpsoqDfLpmKHwbQ9LbMuvYiH7y3675wZrlCblZp0/viewform?c=0&w=1&usp=send_form"> sign up here</a>.

<br><br>
 Compers are evaluated exclusively on their ability to discuss, write about, create, design, sell, or code art. Though our comp is selective, our hope is that all participants will find it an enriching and rewarding experience. Please direct specific questions about the comp to the <a href="http://theharvardadvocate.com/about">editor of the board</a> that you are interested in comping. Updates to the intro comp meeting will be posted on the <a href="https://www.facebook.com/events/1470348573293133/">Facebook event page</a>. 
</p>


</div>
{% endblock %}
