{% extends "base_original.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
<h1 class="header">SPRING 2019 COMP</h1>
    <figure>
        <img class="img-responsive" src="{{ MEDIA_URL }}sites/default/files/spring_2019_comp_banner.jpg" alt="Main Image" style="margin:auto; width:75%" align="middle"/>
    </figure>

<p class="text">
Between its seven boards &#8212 Art, Business, Design, Features, Fiction, Poetry, Technology &#8212 <i>The Harvard Advocate</i> 
provides a home for writers, artists, critics, designers, coders, dealmakers, and all others with an interest in the arts and 
letters. Every semester, <i>The Advocate</i> selects new members through a “Comp” process open to all Harvard undergraduates.
<br>
<br>
 Compers are evaluated exclusively on their ability to discuss, write about, create, design, sell, or code art. Though our 
 comp is selective, our hope is that all participants will find it an enriching and rewarding experience. Please direct specific 
 questions about the comp to the <a href="http://theharvardadvocate.com/about">editor of the board</a> that you are interested 
 in comping.

If you are interested in learning more about our comp, please contact the relevant board head:</a>
 
<div class="center">
<ul>
    <li style="list-style-type: none">art@theharvardadvocate.com</li>
    <li style="list-style-type: none">design@theharvardadvocate.com</li>
    <li style="list-style-type: none">business@theharvardadvocate.com</li>
    <li style="list-style-type: none">features@theharvardadvocate.com</li>
    <li style="list-style-type: none">fiction@theharvardadvocate.com</li>
    <li style="list-style-type: none">poetry@theharvardadvocate.com</li>
    <li style="list-style-type: none">tech@theharvardadvocate.com</li>
</ul>
</div>
</p>


</div>
{% endblock %}

