{% extends "base_original.html" %}

{% load staticfiles %}
{% block content %}


<div class="container">
	<h1 class="header">CONTACT US </h1>
	<h2 class="subheader">EMAIL US </h2>
	<div class="text">
	<p> You can reach the content board heads at the following emails:</p> 
	<p><a align="center" href = "mailto:art@theharvardadvocate.com">art@theharvardadvocate.com</a> || <a  href="mailto:features@theharvardadvocate.com ">features@theharvardadvocate.com </a> || <a  href="mailto:fiction@theharvardadvocate.com ">fiction@theharvardadvocate.com </a>|| <a  href="mailto:poetry@theharvardadvocate.com ">poetry@theharvardadvocate.com </a></p> 

	<p>To arrange a subscription, visit the <a href="/subscribe">Subscribe</a> page or email us at <a href = "mailto:subscribe@theharvardadvocate.com"> subscribe@theharvardadvocate.com</a>. All other inquiries can be sent to <a href = "mailto:president@theharvardadvocate.com">president@theharvardadvocate.com</a>.</p>
	<p>To contact the webmaster or report a technical issue, email <a href="mailto:tech@theharvardadvocate.com">tech@theharvardadvocate.com</a>.
</div>
	<h2 class="subheader">DONATE </h2>
	<p class="text"> Thank you for considering your donation to The Harvard Advocate. We would love to hear more from you if you are arranging a donation – visit our <a href="/donate">donate</a> page or contact us at <a href = "mailto:president@theharvardadvocate.com">president@theharvardadvocate.com</a> to let us know more details. </p>


	<h2 class="subheader">LOCATION </h2>
	<p class="text">  We are located at 21 South Street, Cambridge, Massachusetts 02138. We are in the building most weekdays in the afternoon. Alumni members are always welcome to stop by.</p>

	<!-- <img src="http://imgur.com/5WrFDDY" alt="" width="512" height="512" /><br /> -->

	<!--<img class="header-image" src="http://www.theharvardadvocate.com/sites/default/files/advocate_21_s_st1.jpg" alt="Map" width="512" height="512" align="middle"/><br />-->

	<img class="header-image" src="{% static "magazine/images/map.jpg" %}" alt="Map" width="512" height="512" align="middle"/><br />



	{% endblock %}