{% extends "base_original.html" %}


{% block content %}


<div class="container">
	<h1 class="header">D O N A T E </h1>
	<p class="text">
		Thank you for considering your donation to The Harvard Advocate. We would love to hear more from you if you are arranging a donation – contact us at <a href = "advocate@theharvardadvocate.com">advocate@theharvardadvocate.com</a> to let us know some details. <br><br>

		For a limited time, donors who give $1000 or more will receive a signed issue of the Advocate's Winter TRIAL issue with a cover signed by Dorothea Rockburne, whose design Focus adorns our cover. <br><br>

		All gifts to The Harvard Advocate can be made through The Trustees of The Harvard Advocate, and are fully tax deductible according to 501(c)(3) non-profit donation guidelines.  Gifts will be acknowledged in the four issues following the receipt according to the giving categories Patron ($1000 or over), Benefactor ($500 or over), Donor ($200 or over), and Friend ($25-$199).<br><br>

		Checks should be made out to "The Trustees of The Harvard Advocate" and sent to 21 South St., Cambridge, MA 02138. <br><br>

		<!-- We also offer subscriptions, which we encourage as an alternative to small donations.  To arrange a subscription, visit the Subscribe page or email us at <a href = "subscribe@theharvardadvocate.com">subscribe@theharvardadvocate.com</a>.<br> -->

<!--  		
 		<form style="text-align: left;" action="/sendDonation" method="post" id="payment-form"> {% csrf_token %} {% include 'paymentData.html'  with page="Donate" only  %}</form>
  		{% include 'stripeJS.html' %}
 -->

	{% endblock %}
