{% extends "base_original.html" %}

{% block content %}

<div class="container">
    <h1 class="header">DONATE</h1>
    <p class="text">
        Thank you for your donation to The Harvard Advocate. Contributions help make possible the quarterly publication of The Advocate as well as important programs that promote the arts and letters. Your gift will also help secure our future as a literary production and cultural space. We are grateful for donations of any amount. All donors at Muse and above will, pending permission, have their names featured in an original artwork done by an Advocate alumnus to be displayed in 21 South Street. All Midas donors will additionally receive a lifetime subscription to The Advocate.
    </p>
    <br>
    <p class="centertext">
        Midas $10,000+
        <br><br>
        Muse $5,000+
        <br><br>
        Penelope $1000+
        <br><br>
        Phaedrus $500+
        <br><br>
        Odysseus $100+
        <br><br>
        Herodotus $50+
        <br><br>
    </p>
    <p class="text">
    <!-- For a limited time, donors who give $1000 or more will receive a signed issue of the Advocate's Winter TRIAL issue with a cover signed by Dorothea Rockburne, whose design Focus adorns our cover. <br><br>-->

    All gifts to The Harvard Advocate can be made through The Trustees of The Harvard Advocate, and are fully tax deductible according to 501(c)(3) non-profit donation guidelines. Checks should be made out to "The Trustees of The Harvard Advocate" and sent to 21 South St., Cambridge, MA 02138.
    <br><br>
    We also offer subscriptions, which we encourage as an alternative to small donations. To arrange a subscription, visit the <u><a href="/subscribe">Subscribe</a></u> page or email us at <a href = "mailto:president@theharvardadvocate.com">president@theharvardadvocate.com</a>.
    <br><br>
    Thank you for your support!
    <br>
        
    <div style="margin: 40px auto 0px auto; background: #eee; max-width: 400px; padding: 20px;">
        
        <div class="form-container active">
            <form action="/financialdonation" method="post" id="payment-form"> {% csrf_token %} 
                <h3 class="signup-subheading">Choose Donation Level</h3>
                <select class="form-control" name="donateType"> 
                    <option value="No Level">No Donation Level - U.S. $0 USD</option> 
                    <option value="Herodotus"> Herodotus - U.S. $50 USD</option> 
                    <option value="Odysseus"> Odysseus - U.S. $100</option> 
                    <option value="Phaedrus">Phaedrus - U.S. $500 USD</option> 
                    <option value="Penelope">Penelope - U.S. $1,000 USD</option> 
                    <option value="Muse">Muse - U.S. $5,000 USD</option> 
                    <option value="Midas">Midas - U.S. $10,000 USD</option>
                </select>
                <h3 class="signup-subheading">Or Custom Donation Amount</h3>
                <div class="form-group">
                    <label class="sr-only" for="amount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
                <label class="control-label" for "comment">Do you have any comments about this donation?</label>
                <textarea class="form-control" name="comment" rows="3" placeholder="(Optional)"></textarea>
                <h3 class="signup-subheading">Who should we thank?</h3>
                
                {% include 'payment_form.html' %}

            </form>
        </div>
    </div>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">

      // This identifies your website in the createToken call below
      //Stripe.setPublishableKey('pk_test_66u2FQCcD717Ot7UGj1IvEsN');
      Stripe.setPublishableKey('pk_live_6jQkLASJNXLh52WS0qYFIQCu');

    var stripeResponseHandler= function(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // response contains id and card, which contains additional card details
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
    </script>

{% endblock %}
