<footer>
	<!-- <hr class = "navbar-divider"> -->
	<div class="container">
		<nav class="navbar navbar-default advo-navbar footer-navbar" role="navigation">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav navbar-nav footer-navbar">
				<li > <a href="/advertise">ADVERTISE</a></li>
				<li ><a href="/alumni">ALUMNI</a></li>
				<li ><a href="/contact">CONTACT US</a></li>
				<li ><a href="/comp">COMP</a></li>
				<li ><a href="/submit">SUBMIT</a></li>
			</ul>
		</nav>
		<div class="copyright">
			COPYRIGHT &#169; THE HARVARD ADVOCATE 2015 | <a href="/admin">LOG IN</a>
		</div>
	</div>
</footer>
