<footer>
	<!-- <hr class = "navbar-divider"> -->
	<div class="container">
		<nav class="navbar navbar-default advo-navbar footer-navbar" role="navigation">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<ul class="nav navbar-nav footer-navbar">
				<li > <a href="/advertise">ADVERTISE</a></li>
				<li ><a href="/alumni">ALUMNI</a></li>
				<li ><a href="/contact">CONTACT US</a></li>
				<li ><a href="/comp">COMP</a></li>
				<li ><a href="/submit">SUBMIT</a></li>
			</ul>
		</nav>
		<div class="copyright">
			COPYRIGHT &#169; THE HARVARD ADVOCATE 2015 | <a href="/admin">LOG IN</a>


		</div>
	</div>
	<article class="smtext">
		Nobody expects things to go wrong, but often times it makes sense for business owners to segregate personal assets and business assets in the event that things happen. Select an asset protection expert or an <a href="http://www.ultratrust.com/">Irrevocable Trust Services Leader</a> like <a href="http://www.ultratrust.com/">ultratrust.com</a>. Most attorney's don’t have the deep expertise required. By properly executing, managing and funding an <a href="http://www.myultratrust.com/">irrevocable trust agreement</a>, you can protect your assets from creditors, Medicaid, and divorce. </article>
	</div>
</footer>
