{% extends "gala_base.html" %}

{% block content %}


<style type="text/css">
p {
   margin: 0em;
}
</style>


<div class="container">
    <h1 class="header">Dulce Est Periculum
</h1>

<div>
    <a href="/benefit">
      <img src="/media/gala/gala-invite.jpg" class = "img-responsive" alt="Main Image" style="margin:auto;">
    </a>
</div>
<br>

    <p class="text">
        <li class="text"> One ticket - U.S. $150.00 USD <br></li>
        <li class="text"> One ticket and a numbered limited-edition letter press edition of <i>150 Years at the Advocate</i> printed by Thornwillow Press
- U.S. $300.00 USD <br></li>
        <li class="text"> One ticket, <i>150 Years at the Advocate</i>, and underwrites a ticket to the event for one undergraduate - U.S. $500.00 USD <br></li>
    </p>
    <p class="text">
        To subscribe using our online checkout system, choose a Subscription Type and click Subscribe below.
    </p>


  <div style="margin: 40px auto 0px auto; background: #eee; max-width: 600px; padding: 20px;">
        
        <div class="form-container active">
            <form action="/galadonation" method="post" id="payment-form"> {% csrf_token %} 
               <select class="form-control" name="ticketType"> 
                    <option value="0 Tickets">0 Tickets- U.S. $0.00 USD</option> 
                    <option value="1 Tickets">1 Ticket- U.S. $150.00 USD</option> 
                    <option value="2 Tickets">2 Tickets- U.S. $300.00 USD</option> 
                    <option value="3 Tickets">3 Tickets- U.S. $450.00 USD</option> 
                    <option value="4 Tickets">4 Tickets- U.S. $600.00 USD</option> 
                    <option value="5 Tickets">5 Tickets- U.S. $750.00 USD</option> 
                </select>
                    <select class="form-control" name="ticketAnthologyType"> 
                    <option value="0 Tickets">0 Tickets and Print Anthology- U.S. $0.00 USD</option> 
                    <option value="1 Tickets">1 Tickets and Print Anthology- U.S. $300.00 USD</option> 
                    <option value="2 Tickets">2 Tickets and Print Anthology - U.S. $600.00 USD</option> 
                    <option value="3 Tickets">3 Tickets and Print Anthology- U.S. $900.00 USD</option> 
                    <option value="4 Tickets">4 Tickets and Print Anthology- U.S. $1200.00 USD</option> 
                    <option value="5 Tickets">5 Tickets and Print Anthology- U.S. $1500.00 USD</option> 
                </select>
                    <select class="form-control" name="ticketAnthologyUnderWriteType"> 
                    <option value="0 Tickets">0 Tickets and Print Anthology And Undergrad Underwrite - U.S. $0.00 USD</option> 
                    <option value="1 Tickets">1 Tickets and Print Anthology And Undergrad Underwrite - U.S. $500.00 USD</option> 
                    <option value="2 Tickets">2 Tickets and Print Anthology And Undergrad Underwrite - U.S. $1000.00 USD</option> 
                    <option value="3 Tickets">3 Tickets and Print Anthology And Undergrad Underwrite - U.S. $1500.00 USD</option> 
                    <option value="4 Tickets">4 Tickets and Print Anthology And Undergrad Underwrite - U.S. $2000.00 USD</option> 
                    <option value="5 Tickets">5 Tickets and Print Anthology And Undergrad Underwrite - U.S. $2500.00 USD</option> 
                </select>
                <select class="form-control" name="subscriptionType"> 
                    <option value= "No subscription added"> No subscription - U.S. $0.00 USD </option>
                    <option value="Three years (12 issues) - U.S.">Three years (12 issues) - U.S. $90.00 USD</option> 
                    <option value="Two years (8 issues) - U.S.">Two years (8 issues) - U.S. $69.00 USD</option> 
                    <option value="One year (4 issues) - U.S.">One year (4 issues) - U.S. $35.00 USD</option> 
                    <option value="Three years (12 issues) - International &amp; Institutions">Three years (12 issues) - International &amp; Institutions $110.00 USD</option> 
                    <option value="Two years (8 issues) - International &amp; Institutions">Two years (8 issues) - International &amp; Institutions $75.00 USD</option> 
                    <option value="One year (4 issues) - International &amp; Institutions">One year (4 issues) - International &amp; Institutions $45.00 USD</option>
                </select>
                <h3 class="signup-subheading">Donation Amount</h3>
                <div class="form-group">
                    <label class="sr-only" for="amount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
                <label class="control-label" for "comment">What is the full name of everybody who will be attending?</label>
                <textarea class="form-control" name="comment" rows="3" ></textarea>
                <h3 class="signup-subheading">Whom should we thank?</h3>
                
                {% include 'payment_form.html' %}

            </form>
        </div>
    </div>
<br>
<div>
    <a href="/benefit">
      <img src="/media/gala/gala-benefits.jpg" class = "img-responsive" alt="Main Image" style="margin:auto;">
    </a>
</div>

<!--     <div>
Benefit Committee: Kurt Andersen, Joan Bingham, Lea Carpenter,  Andrew Cogan, Anne Fulenwider, Henry Louis Gates, Jr., Keith Gessen, Mark Greif, Alexandra Jacobs, Leslie Jamison, Colin Jost, David Kuhn, Honor Moore, BJ Novak, Katie Roiphe, Jeannette Sanger, Gay Talese, Jeffrey Toobin 
</div>
<div>
Trustees of the Advocate: Charles Atkinson, James Atlas, Louis Begley, Peter Brooks, Emily Chertoff, Leslie Dunton-Downer, Jonathan Galassi, Lev Grossman, Angela Mariani, D.T. Max, Celia McGee, Douglas McIntyre, Susan Morrison, Thomas Stewart, Jean Strouse, Austin T. Wilkie 
</div> -->
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">

      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('pk_test_66u2FQCcD717Ot7UGj1IvEsN');
      //Stripe.setPublishableKey('pk_live_6jQkLASJNXLh52WS0qYFIQCu');

    var stripeResponseHandler= function(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button').prop('disabled', false);
      } else {
        // response contains id and card, which contains additional card details
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(event) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
    </script>
{% endblock %}