{% load staticfiles %}

 <div style="background: antiquewhite;">
  <a href="/150th">
      <figure class="container" style="padding-right:30px; padding-top:10px; max-width:90%;"><img src="{% static "magazine/images/banner.png" %}" style="margin:auto;" class = "img-responsive" alt="Learn more about the 150th celebration"></figure>
    
</div></a> 

<header class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 f-t-links top-line">Join us: <a  class = "social-media-link" href = "https://www.facebook.com/harvardadvocate">F</a> <a class = "social-media-link"  href="https://twitter.com/harvardadvocate">T</a>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
        <!-- <figure><img src="{% static "magazine/images/seal_banner.jpeg" %}" class = "logo-container" alt="Main Image" ></figure> -->
          <a class="no-decoration no-underline" href="/"> <h1 class="main-title">THE HARVARD ADVOCATE</h1></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 top-line">
          <div class="form-group search-group">
            <form type="get" action="/search/" class="search-form" role="search">
                  <input type="text" name="q" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Search">
                  <hr class="search-bottom-border">
              </form>

              <ul class="search-form-links list-unstyled">
                <li>
                  <a class="no-decoration top-line" href="/subscribe">Subscribe</a>
                  <a class="no-decoration top-line" href="/shop">Shop</a>
                  <a class="no-decoration top-line" href="/150th">150th</a>
                  <a class="no-decoration top-line" href="https://theharvardadvocate.com/donate">Donate</a>
                </li>
              </ul>
           </div>
        </div>
    </div>

</header>
<!-- <hr class = "navbar-divider"> -->
<div class="container behind-search" data-spy="affix" data-offset-top="300" data-offset-bottom="0" >
    <nav class="navbar navbar-default  advo-navbar" role="navigation" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand mobile-only" href="/">THE HARVARD ADVOCATE </a>
    </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse ">
      <div class="nav-header"> </div>
        <ul class="nav navbar-nav">
            <li ><a href="/about">ABOUT</a></li>
            <li ><a href="/issues">ISSUES</a></li>
            <li ><a href="/art">ART</a></li>
            <li ><a href="/fiction">FICTION</a></li>
            <li ><a href="/features">FEATURES</a></li>
            <li ><a href="/poetry">POETRY</a></li>
            <li ><a href="/columns">COLUMNS</a></li>
            <li>
                  <a href="http://theadvocateblog.net/" >BLOG</a>
              <ul class="dropdown">
                  <li ><a href="http://theadvocateblog.net/">MAIN</a></li>
                  <li ><a href="http://theadvocateblog.net/category/archives/">ARCHIVES</a></li>
                  <li ><a href="http://theadvocateblog.net/category/writing/">WRITING</a></li>
                  <li ><a href="http://theadvocateblog.net/category/art/">ART</a></li>
                  <li ><a href="http://theadvocateblog.net/about/">ABOUT</a></li>
              </ul>
            </li>
        </ul>

    </div><!-- /.navbar-collapse -->
    </nav>

</div>
