{% load staticfiles %}

<!--  <div style="background: cornsilk;">
  <a href="/benefit">
      <figure class="container" style="padding-right:30px; padding-top:10px; max-width:90%;"><img src="{% static "magazine/images/galabanner.png" %}" style="margin:auto;" class = "img-responsive" alt="Learn more about the 150th celebration"></figure>
    
</div></a>  -->

<header class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 f-t-links top-line"> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
      <a  class = "fa fa-facebook" href = "https://www.facebook.com/harvardadvocate" target="_blank"></a>
      <a class = "fa fa-twitter"  href="https://twitter.com/harvardadvocate" target="_blank"></a>
      <a class = "fa fa-instagram"  href="https://www.instagram.com/harvardadvocate/" target="_blank"></a>
      <a class = "fa fa-snapchat-ghost"  href="https://www.snapchat.com/add/harvardadvocate" target="_blank"></a>
      <a class = "fa fa-youtube-play"  href="https://www.youtube.com/channel/UCpdTHg2tuajHmO-ksJIIoEQ/feed?sub_confirmation=1" target="_blank"></a>
      </div>
      
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" >
        <!-- <figure><img src="{% static "magazine/images/seal_banner.jpeg" %}" class = "logo-container" alt="Main Image" ></figure> -->
          <a class="no-decoration no-underline" href="/"> <h1 class="main-title">The Harvard Advocate</h1></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 top-line" style="padding-left: 13px;">
          <div class="form-group search-group">
            <form type="get" action="/search/" class="search-form" role="search">
                  <input type="text" name="q" class="typeahead tt-query" autocomplete="off" spellcheck="false" placeholder="Search"></input>
                  <div class="clearfix"></div>
                  <hr class="search-bottom-border">
              </form>

              <ul class="search-form-links list-unstyled">
                <li>
                  <a class="no-decoration top-line" href="/submit">Submit</a>
                   <a class="no-decoration top-line" href="/subscribe">Subscribe</a>
                   <a class="no-decoration top-line" href="/shop">Shop</a>
                  <a class="no-decoration top-line" href="/financialaid">Donate</a>
                </li>
              </ul>
           </div>
        </div>
    </div>

</header>
<!-- <hr class = "navbar-divider"> -->
<div id="nav" class="container behind-search" data-spy="affix" data-offset-top="187" data-offset-bottom="0" >
    <nav class="navbar navbar-default  advo-navbar" role="navigation" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand mobile-only" href="/">THE HARVARD ADVOCATE </a>
    </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse ">
      <div class="nav-header"> </div>
        <ul class="nav navbar-nav">
            <li ><a href="/about">ABOUT</a></li>
            <li ><a href="/issues">ISSUES</a></li>
            <li ><a href="/art">ART</a></li>
            <li ><a href="/fiction">FICTION</a></li>
            <li ><a href="/features">FEATURES</a></li>
            <li ><a href="/poetry">POETRY</a></li>
            <li ><a href="/columns">COLUMNS</a></li>
            <li> <a href="/blog" >BLOG</a></li>
        </ul>

    </div><!-- /.navbar-collapse -->
    </nav>

</div>
