{% extends "base_original.html" %}

{% block content %}

<div class="homepage">

  <section class="top-features">
    <div class="container-left">

      <div class="feature-left">
        <div class="category-rule">
          <div class="category-label">FEATURED</div>
        </div>
        <img class="feature-image-primary" src="http://theharvardadvocate.com/media/sites/default/files/Bornsteincellphone2.png"></img>
        <div class="feature-text-left feature-title">
          Bornstein Cell Phone 2
        </div>
        <div class="feature-text-right">
          <h3 class="feature-description"></h3>
        </div>
      </div>

    </div>
    
    <div class="container-right">
      <div class="feature-right">
        
      </div>
      <div class="feature-right">
        
      </div>
    </div>
  </section>

</div>

{% endblock %}
