{% extends "base_original.html" %}

{% block content %}

<div class="homepage">

  <section class="top-features">
    <div class="container-left">
      <div class="category-rule">
        <h4 class="category-label">Featured</h4>
      </div>
      <img class="feature-image-primary" src="http://theharvardadvocate.com/media/sites/default/files/Bornsteincellphone2.png"></img>
      <div class="feature-title">
        George Clooney’s Predictable Dystopia
      </div>
      <div class="feature-description">
        “Suburbicon” takes aim at that timeworn target: the dark underbelly of mid-century America.
      </div>
      <span class="feature-author">Anthony Lane</span>
      <div class="feature-release-date">October 26, 2017</div>
    </div>

    <div class="container-right">
      <div class="category-rule">
        <h4 class="category-label">From the Blog</h4>
      </div>
      <div class="feature-title">
        American Dream
      </div>
      <div class="feature-description">
        The past days I have spent falling into the blue vortex. What’s really scary about the internet is that it goes on forever...
      </div>
      <span class="feature-author">Faye Yan Zhang</span>
      <div class="feature-release-date">October 27, 2017</div>

      <div class="category-rule">
        <h4 class="category-label">Fiction</h4>
      </div>
      <div class="feature-title">
        An Interview with Arthur Size
      </div>
      <div class="feature-description">
        (Arthur Sze’s ninth book of poetry, Compass Rose (Copper Canyon, 2014), was a finalist for the Pulitzer Prize. A new collection...
      </div>
      <span class="feature-author">John Smith</span>
      <div class="feature-release-date">October 27, 2017</div>

      <div class="category-rule">
        <h4 class="category-label">Poetry</h4>
      </div>
      <div class="feature-title">
        The Annointed
      </div>
      <div class="feature-description">
        (Arthur Sze’s ninth book of poetry, Compass Rose (Copper Canyon, 2014), was a finalist for the Pulitzer Prize. A new collection...
      </div>
      <span class="feature-author">John Smith</span>
      <div class="feature-release-date">October 27, 2017</div>
    </div>
  </section>

  <div class="clearfix"></div>

  <section class="banner-advertisement">
    <div class="banner-advertisement-container">
      <h4>Banner Advertisement</h4>
    </div>
  </section>

  <section class="bottom-features">
    <div class="container-left">
      <div class="category-rule">
        <h4 class="category-label">Columns</h4>
      </div>
      <div class="feature-title">
        The Annointed
      </div>
      <div class="feature-description">
        (Arthur Sze’s ninth book of poetry, Compass Rose (Copper Canyon, 2014), was a finalist for the Pulitzer Prize. A new collection...
      </div>
      <span class="feature-author">John Smith</span>
      <div class="feature-release-date">October 27, 2017</div>

      <div class="category-rule">
        <h4 class="category-label">Art</h4>
      </div>
      <div class="feature-title">
        The Annointed
      </div>
      <div class="feature-description">
        (Arthur Sze’s ninth book of poetry, Compass Rose (Copper Canyon, 2014), was a finalist for the Pulitzer Prize. A new collection...
      </div>
      <span class="feature-author">John Smith</span>
      <div class="feature-release-date">October 27, 2017</div>

      <div class="category-rule">
        <h4 class="category-label">Fiction</h4>
      </div>
      <div class="feature-title">
        The Annointed
      </div>
      <div class="feature-description">
        (Arthur Sze’s ninth book of poetry, Compass Rose (Copper Canyon, 2014), was a finalist for the Pulitzer Prize. A new collection...
      </div>
      <span class="feature-author">John Smith</span>
      <div class="feature-release-date">October 27, 2017</div>
    </div>

    <div class="container-right">
      <div class="category-rule">
        <h4 class="category-label">Most Read</h4>
      </div>
      <ol class="homepage-list">
        <li class="feature-list-item">An Interview with Arthur Size</li>
        <li class="feature-list-item">The Annointed</li>
        <li class="feature-list-item">and the two talked to god</li>
        <li class="feature-list-item">New You in Old, Old America (or 1 Month & 2 Weeks in Shit Tons of Pain)</li>
        <li class="feature-list-item">In Ravenna with My Sister</li>
      </ol>

      <div class="category-rule">
        <h4 class="category-label">Editor's Picks</h4>
      </div>
      <ol class="homepage-list">
        <li class="feature-list-item">An Interview with Arthur Size</li>
        <li class="feature-list-item">The Annointed</li>
        <li class="feature-list-item">and the two talked to god</li>
        <li class="feature-list-item">New You in Old, Old America (or 1 Month & 2 Weeks in Shit Tons of Pain)</li>
        <li class="feature-list-item">In Ravenna with My Sister</li>
      </ol>
    </div>
  </section>

  <div class="clearfix"></div>

</div>

{% endblock %}
