 <table> <tbody>

{% if page == "Donate" %}
 <tr>
 <div class="form-row">

 <td>
    <label>
      <span>Amount ($)</span>
      </td><td>
      <input type="text" size="7" name="amount"/>
    </label>
  </td>
  </div>
  </tr>

{% endif %}
 <tr><td>
            <span class="payment-errors"></span>
            </td>
            </tr>
            <tr><td>
<div class="form-row">
    <label>
      <span>Name</span>
      </td><td>
      <input type="text" size="20"  name="name"/>
    </label>
  </div>
  </td>
  </tr>
  <tr><td>
  <div class="form-row">
    <label>
      <span>Email</span>
      </td><td>
      <input type="text" size="20" name="email"/>
    </label>
  </div>
  </td></tr>
  <tr><td>
  <div class="form-row">
    <label>
      <span>Street Address </span>
      </td><td>
      <input type="text" size="20" name="streetAddress1"/>
    </label>
  </div>
  </td></tr>
  <tr><td>
  <div class="form-row">
    <label>
      <span>Street Address  </span>
      </td><td>
      <input type="text" size="20" name="streetAddress2"/>
    </label>
  </div>
  </td></tr>
  <tr><td>
  <div class="form-row">
    <label>
      <span>City </span>
      </td><td>
      <input type="text" size="20" name="city"/>
    </label>
  </div>
</td></tr>
  <tr><td>
  <div class="form-row">
    <label>
      <span>State </span>
      </td><td>
      <input type="text" size="5" name="state"/>
    </label>
  </div>
  </td></tr>

  <tr>
  <div class="form-row">
  <td>
    <label>
      <span>Country </span>
      </td><td>
      <input type="text" size="20" name="country"/>
    </label>
  </td>
  </div>
  </tr>

  <tr>
    <div class="form-row">
  <td>
    <label>
      <span>Zip </span>
      </td><td>
      <input type="text" size="7" name="zipCode"/>
    </label>
  </td>
  </div>
  </tr>

  <tr>
  <div class="form-row">
  <td>
    <label>
      <span>Card Number</span>
      </td><td>
      <input type="text" size="20" data-stripe="number" />
    </label>
</td>
  </div>
</tr>

  <tr>
  <div class="form-row">
  <td>
    <label>
      <span>CVC</span>
      </td><td>
      <input type="text" size="4" data-stripe="cvc"/>
    </label>
</td>
  </div>
</tr>

  <tr>
  <div class="form-row">
  <td>
    <label>
      <span>Expiration (MM/YYYY)</span>
      </td><td>
      <input type="text" size="2" data-stripe="exp-month"/>
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year"/>
  </td>
  </div>
  </tr>
{% if page != "Donate" %}
  <tr>
  <div class='form-row'>
  <td>
  <label>
  	<input type="checkbox" name="renew" value="renew" checked="true">
     </td><td> Renew my subscription<br>
  </label>
   </td>
   </div>
   </tr>
{%endif%}
  <tr><td>
  <button type="submit">Submit Payment</button> </td> </tr> </tbody></table>