{% extends "base_original.html" %}

{% block content %}
{% load staticfiles %}

<div class="container">
<h1 class="header">{{ name }}</h1>

{% for issue in issues %}
{% if forloop.counter0|divisibleby:2 %}
<div class="row">
{% endif %}
  {% if issue.articles|length > 0 %}
    {% if name == 'columns' %}
    <div class="col-md-12">
    {% else %}
    <div class="col-md-6">
    {% endif %}
     <a href="{{issue.obj.get_absolute_url}}"class="no-decoration"><h2 class="subheader">{{issue.obj}}</h2></a>
     {% for article in issue.articles %}
      <div class="section-article">
        <a href="{{ article.get_absolute_url }}"><p class="name">{{article.title}}</p></a>
        
        {% for author in article.contributors.all %}
          <a href="{{ author.get_absolute_url }}"><p class="no-decoration author">{{ author.name }}</p></a>
        {% endfor %}
      </div>
     {% endfor %}
    </div>
  {% endif %}
{% if forloop.counter|divisibleby:2 %}
</div>
{% endif %}


{% endfor %}

</div>
{% endblock %}

<div class="col-xs-1 col-sm-2 col-md-3 col-lg-3">
  <h2>{{ issue.name }}</h1>
  <figure><a href="{{issue.get_absolute_url}}"><img class='img-responsive' style="margin: 0 auto;" src="{{MEDIA_URL}}{{issue.cover_image }}"></a></figure>
</div>