{% extends "base_original.html" %}

{% block content %}
{% load staticfiles %}
<script src="{% static 'magazine/js/section.js' %}"></script>

<h3 class="section-title">
Featured {{ section }}
</h3>
<div class="features {{ section }}-page">
  <ul class="featured-item-links">
    {% for article in featured_articles %}
    <li {% if forloop.first %} class="selected" {% endif %} data-item-id="{{ article.id }}"><span class="item-title">{{ article.title }}</span><span class="item-author">By {% for author in article.contributors.all %}
             {{ author.name }}
        {% endfor %}</span><span class="title-underline"></span></li>
    {% endfor %}
  </ul>
  {% for article in featured_articles %}
  <div class="item featured-item {% if forloop.first %} selected {% endif %}" data-item-id="{{ article.id }}">
      <span class="item-title">{{ article.title }}</span>
      <span class="item-author">By {% for author in article.contributors.all %}
             <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>
        {% endfor %}</span>
      <span class="title-underline"></span>
      <div class="item-sample">{% if article.photo %}<img src="//theharvardadvocate.com/media/{{article.photo}}" />{% endif %}{% autoescape off %}{{ article.body }}{% endautoescape %}</div>
      <div class="shadow"></div>
      <div class="item-continue-reading"><a href="/content/{{ article.id }}">{% if section == "art" %} See More >> {% else %} Continue Reading >> {% endif %}</a></div>
    </div>
  {% endfor %}
</div>
<div class = "container">
 <div class="item">
   <div class="row">

 {% if ads %}

    {% for ad in ads %}
    <div class="col-md-4">
      <article>
      <a href = "/advertise" class = "sponsored-link"> Sponsored </a>
        <figure class="resize-image" style="margin:auto;">
          <!--pass in art image link HERE-->
          <a href = "{{ ad.url }}"> <img src=" {{ ad.image.url }}" class = "img-responsive" alt="Main Image" > </a>
   </div>

   {% endfor %}

    {% endif %}
    
  </div>
  </div>
</div>
<h3 class="section-title">
Explore The {{ section }} Archives
</h3>
<span class="description">Browse works selected from past issues</span>

<div class="issue-selector">
<span class="select-issue-label">Select an issue: </span>
<select class="select-issue-dropdown">
    <option value="all">All Issues</option>
    {% for issue in issues %}
      <option value={{ issue.id }}>{{ issue.name }}</option>
    {% endfor %}
</select>
</div>

<ul class="archive {{ section }}-page">
</ul>

<div class="load-more">Explore More {{section | title }}<div class="load-more-underline"></div></div>


{% endblock %}
