{% extends "base_original.html" %}{% block content %}
{% load staticfiles %}



<div class="container">
	<h1 class="header">SHOP</h1>

	<p class = "text">Welcome to The Harvard Advocate's Store! Below you can find back issues that you may purchase. All issues are $10 (domestic shipping $2; international shipping $5) unless otherwise indicated. Check back with us for Advogear as well. You can use the online checkout system by clicking "Add to Cart" below the thumbnails.</p>


	<form  style="text-align: center;" action="/shopSubmit" method="post" id="payment-form">
	<div>
		{% for issue in issues %}
			{% if forloop.counter0|divisibleby:4 %}
				<div class="row" data-right-height>
			{% endif %}
	 		<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
	 			

	 			<h3>{{ issue.name }}<br>Print $10</h2>

				<!-- How to check if image exists: 
				http://stackoverflow.com/questions/6637168/python-django-templates-and-testing-if-a-variable-is-null-or-empty-string?rq=1
				http://stackoverflow.com/questions/12507281/determine-empty-template-variable-in-django -->
				{% if issue.cover_image and issue.cover_image|length > 0 %}
				<figure data-right-height-content><a href="{{issue.get_absolute_url}}"><img class='img-responsive' style="margin: 0 auto;" src="{{MEDIA_URL}}{{ issue.cover_image }}"></a></figure>
				{% else %}
				<figure data-right-height-content><a href="{{issue.get_absolute_url}}"><img class='img-responsive' style="margin: 0 auto;" src="{{MEDIA_URL}}image-not-available.jpg"></a></figure>


				{% endif %}


				<div align = "center">
				<input type='button' issueID={{issue.id}} onclick='javascript: subtractQty("{{issue.id}}" );' value='-'/>
				<input type='text'  id='{{issue.id}}' name='issues_{{issue.id}}' value=0  size = 2 />
				<input type='button'  issueID={{issue.id}} onclick='javascript: addQty("{{issue.id}}" );' value='+'/>
				</div>


	 		</div>


	 		{% if forloop.counter|divisibleby:4 %}
				</div>
			{% endif %}


	 	{% endfor %}
	 </div>		
	{% include 'paymentData.html' with page="Shop" only  %}
	{% csrf_token %} 
 	</form>

  {% include 'stripeJS.html' %}
<script src="{% static 'magazine/js/right-height.js' %}"></script>
<script>
    rightHeight.init();
</script>

<script type="text/javascript">
	function subtractQty(elID){
		if(document.getElementById(elID).value - 1 < 0) {
			return;
		} else {
			document.getElementById(elID).value--;
		}
		
	}
	
	function addQty(elID) {
		document.getElementById(elID).value++
	}
	
</script>
{% endblock %}