{% extends "base_original.html" %}
{% load staticfiles %}

{% block content %}
<body>
<div class="container">
        
        <h1 class="header">SHOP</h1>
        {% for item in items %}
		{% if forloop.counter0|divisibleby:4 %}
			<div class="row">
		{% endif %}
 		<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
 		    <h2 style="font-size:24px;">{{ item.title }}</h2>
            <figure><a href="/shop/{{item.id}}"><img class='img-responsive' style="margin: 0 auto;" src="/media/{{item.image}}" alt="shopItem"></a></figure>
        </div>

        
 		{% if forloop.counter|divisibleby:4 %}
			</div>
		{% endif %}

         {% endfor %}
         <center>
            <div class = "go-to-cart" cart-url="/cart">GO TO CART</div>
        </center>
        </div>
        <script type="text/javascript" src="https://www.redbubble.com/assets/external_portfolio.js"></script>
        <script id="rb-xzfcxvzx" type="text/javascript">new RBExternalPortfolio('www.redbubble.com', 'harvardadvocate', 5, 4).renderIframe();</script>
</body>



{% include 'stripeJS.html' %}
<script src="{% static 'magazine/js/right-height.js' %}"></script>
<script src="{% static 'magazine/js/notify.min.js' %}"></script>
<script>
    rightHeight.init();
</script>

<style>

.go-to-cart {
    padding-top: 5px;
    color: black;
    width: 120px;
    height: 30px;
    box-align: center;
    font-weight: 700px;
    border: 2px solid black;
    text-align: center;
  }
  
  .go-to-cart:hover {
      border: 3px solid black;
      cursor: pointer;
  }
.shopItem {
    display: inline;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}
.add-to-cart {
    border: 1px solid white;
}
.add-to-cart:hover {
    border: 1px solid black;
    cursor: pointer;
}
.shopItem img {
    margin: auto;
    max-width: 200px;
    max-height: 400px;
}
</style>


<script type="text/javascript">
    function subtractQty(elID){
        if(document.getElementById(elID).value - 1 < 0) {
            return;
        } else {
            document.getElementById(elID).value--;
        }

    }

    function addQty(elID) {
            document.getElementById(elID).value++
        
    }
    $('.add-to-cart').on('click', function(){
        //alert(this.getAttribute('data-shopitem-id'));
        var itemTitle = this.parentElement.getElementsByClassName('hidden-title')[0].innerHTML;
        emailBody = "Hi ! We are writing to confirm your purchases on theharvardadvocate.com. You will be charged  cents. Here is a description of your purchases:Thank you for supporting the Harvard Advocate!"
        send_mail('Purchase Confirmation', emailBody, 'advocatecomptestemail@gmail.com', ['advocatecomptestemail@gmail.com'], fail_silently=False)
        var itemId = this.getAttribute('data-shopitem-id');
        var jqxhr = $.post( "cart", {'action': 'insert', 'itemId': itemId, 'csrfmiddlewaretoken': "{% csrf_token %}".split("value='")[1].split("'")[0]} , function(a) {
          //alert( a );
          console.log(a);
        })
          .done(function(a) {
            var response = JSON.parse(a);
            if (response['code'] == 0){
                $.notify(itemTitle + " added to cart.", "success");
            }
            else if (response['code'] == 1) {
                $.notify(response['responseText'], "info");
            }
            else {
                $.notify(response['responseText'], "error");
            }
          })
          .fail(function() {
            alert( "error" );
          })
    })

</script>

<script src="{% static 'magazine/js/notify.min.js' %}"></script>
<script>
  $('.go-to-cart').on('click', function(){
    var url= this.getAttribute('cart-url');
    location.href = url;
  })
</script>
{% endblock %}