{% extends "base_original.html" %}{% block content %}
{% load staticfiles %}



<div class="container">
    <h1 class="header">SHOP</h1>

     <p class = "text">Welcome to The Harvard Advocate's Store! Below you can find back issues that you may purchase. All issues are $10 (domestic shipping $2; international shipping $5) unless otherwise indicated. Check back with us for Advogear as well. You can use the online checkout system by clicking "Add to Cart" below the thumbnails. <b>Click on image to see details.</b></p>
     <ul style="list-style-type: none; display: inline-block; margin: auto;">
     {% for item in items %}
      {% if forloop.counter0|divisibleby:3 %}
      <div class="row">
      {% endif %}
        <li class="shopItem col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <center>
            <p class="hidden-title" style="display: none;">{{item.title}}</p>
            <h2 class="subheader" style="font-size: 16px;">{{item.title}}</h2>
            <a href="/shop/{{item.id}}"><img src="/media/{{item.image}}" alt="shopItem"></a>
            <p class="item-description" style="display: none;">{{item.description}}</p>
            <p>${{item.price}}</p>
            <p class="add-to-cart" data-shopitem-id="{{item.id}}">Add to Cart</p>
            </center>
        </li>
      {% if forloop.counter|divisibleby:3 %}
        </div>
      {% endif %}
     {% endfor %}
     </ul>
     <div style="width: 200px; margin: auto;">
         <a href="/cart">
            <button type="button" class="btn btn-primary-outline" style="width: 200px; clear: both;">Go to Cart</button>
        </a>
    </div>

  {% include 'stripeJS.html' %}
<script src="{% static 'magazine/js/right-height.js' %}"></script>
<script src="{% static 'magazine/js/notify.min.js' %}"></script>
<script>
    rightHeight.init();
</script>

<style>
.shopItem {
    display: inline;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}
.add-to-cart {
    border: 1px solid white;
}
.add-to-cart:hover {
    border: 1px solid black;
    cursor: pointer;
}
.shopItem img {
    margin: auto;
    max-width: 200px;
    max-height: 400px;
}
</style>

<script type="text/javascript">
    function subtractQty(elID){
        if(document.getElementById(elID).value - 1 < 0) {
            return;
        } else {
            document.getElementById(elID).value--;
        }

    }

    function addQty(elID) {
        document.getElementById(elID).value++
    }
    $('.add-to-cart').on('click', function(){
        //alert(this.getAttribute('data-shopitem-id'));
        var itemTitle = this.parentElement.getElementsByClassName('hidden-title')[0].innerHTML;

        var itemId = this.getAttribute('data-shopitem-id');
        var jqxhr = $.post( "cart", {'action': 'insert', 'itemId': itemId, 'csrfmiddlewaretoken': "{% csrf_token %}".split("value='")[1].split("'")[0]} , function(a) {
          //alert( a );
          console.log(a);
        })
          .done(function(a) {
            var response = JSON.parse(a);
            if (response['code'] == 0){
                $.notify("Item '" + itemTitle + "' added to cart.", "success");
            }
            else if (response['code'] == 1) {
                $.notify(response['responseText'], "info");
            }
            else {
                $.notify(response['responseText'], "error");
            }
          })
          .fail(function() {
            alert( "error" );
          })
    })

</script>
{% endblock %}