{% extends "base_original.html" %}


{% block content %}


<div class="container">
	<h1 class="header">SUBMISSION GUIDELINES </h1>
	<p>The Harvard Advocate accepts submissions of poems, fiction, and art of any form or length created by members of the Harvard community, as well as outside contributors at our discretion. All submissions are considered anonymously. Submissions may be uploaded anonymously online:</p>
    <div id="submit">
        <h4><a href="https://script.google.com/macros/s/AKfycbxiB_Qm9OW2s-N1SlYOZsuFOZ4pYhwRnyA6Qwu49Z4DeuYGlFSE/exec"> SUBMIT ONLINE </a></h4>
    </div>
    <p> or emailed to the individual emails below: </p>
    <p class="text">
        art - <a align="center" href = "mailto:art@theharvardadvocate.com">art@theharvardadvocate.com</a> <br>
        features - <a  href="mailto:features@theharvardadvocate.com ">features@theharvardadvocate.com </a><br>
        fiction - <a  href="mailto:fiction@theharvardadvocate.com ">fiction@theharvardadvocate.com </a><br>
        poetry - <a  href="mailto:poetry@theharvardadvocate.com ">poetry@theharvardadvocate.com </a>
    </p>
    <br>
    <p>Submissions may be also be mailed to 21 South St., Cambridge, MA 02138. All submissions should be original work that has not been previously published. If you wish to have your submission returned to you, please include a self-addressed stamped envelope. Questions about submissions may be directed to the individual emails above or to <a  href="mailto:contact@theharvardadvocate.com ">contact@theharvardadvocate.com</a>.</p>



	{% endblock %}