{% extends "base_original.html" %}


{% block content %}


<div class="container">
	<h1 class="header">SUBMISSION GUIDELINES </h1>
	<p class="text">The Harvard Advocate accepts submissions of poems, fiction, essays, and art of any form or length created by members of the Harvard community, as well as outside contributors at our discretion. <br>

		art - <a align="center" href = "art@theharvardadvocate.com">art@theharvardadvocate.com</a> <br>
		features - <a  href="features@theharvardadvocate.com ">features@theharvardadvocate.com </a><br>
		fiction - <a  href="fiction@theharvardadvocate.com ">fiction@theharvardadvocate.com </a><br>
		poetry - <a  href="poetry@theharvardadvocate.com ">poetry@theharvardadvocate.com </a><br> </p>


	{% endblock %}