container_commands:
  01_install_solr:
    command: "
    wget https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/2.4.6/elasticsearch-2.4.6.tar.gz &&
    tar xzf elasticsearch-2.4.6.tar.gz"
    leader_only: true
  02writable_dirs:
    command: "sudo chown -R ec2-user:ec2-user elasticsearch-2.4.6"

commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/start_solr.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      opt/python/current/app/elasticsearch-2.4.6/bin/elasticsearch &