option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: advo/wsgi.py
container_commands:
  01_rebuild_index:
    command: "django-admin.py rebuild_index --noinput"
#  00collectstatic:
#    command: "django-admin.py collectstatic --noinput"
#    leader_only: true
#  01migrate:
#    command: "django-admin.py migrate"
#    leader_only: true
