option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: advo/wsgi.py
container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_rebuild_index:
    command: "django-admin.py rebuild_index --noinput"
  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"
    leader_only: true
