option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: advo/wsgi.py
container_commands:
  00collectstatic:
    command: "django-admin.py collectstatic --noinput"
  01syncdb:
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02migrate:
    command: "django-admin.py migrate"
    leader_only: true
