packages:
  yum:
    mod24_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/advo/wsgi.py
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app:/opt/python/run/venv/lib64/python2.7/site-packages:/opt/python/run/venv/lib/python2.7/site-packages \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIDbjCCAlYCCQDzlVfkrTKRQjANBgkqhkiG9w0BAQUFADB5MQswCQYDVQQGEwJV
        UzELMAkGA1UECAwCTUExEjAQBgNVBAcMCUNhbWJyaWRnZTEdMBsGA1UECgwUVGhl
        IEhhcnZhcmQgQWR2b2NhdGUxKjAoBgkqhkiG9w0BCQEWG3RlY2hAdGhlaGFydmFy
        ZGFkdm9jYXRlLmNvbTAeFw0xODEyMDQwNDE5MjNaFw0xOTEyMDQwNDE5MjNaMHkx
        CzAJBgNVBAYTAlVTMQswCQYDVQQIDAJNQTESMBAGA1UEBwwJQ2FtYnJpZGdlMR0w
        GwYDVQQKDBRUaGUgSGFydmFyZCBBZHZvY2F0ZTEqMCgGCSqGSIb3DQEJARYbdGVj
        aEB0aGVoYXJ2YXJkYWR2b2NhdGUuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
        MIIBCgKCAQEA3M0Kf0yda9lXWL5j/lDmd3DSPft/4jp6B28flzRkmZle8sIp1H9f
        h1omdlOVWuF1gnEiRGPwgPvkj85Z2NOPri7sNTlwrl/Sg3n6KfSBTKn2vxr54hjN
        TylLFbO8oKKoJA+Vf/u0wJcH7klza6kVWIdoh2DPzsm/KFawJOumHhfoOs2fWlXO
        V2hGzIrmgtBOAxCoN+2ODAM3jlVsLZR8oUw0I7YRsOgqHhdVdEEkm5c9BafLKkG6
        55JKQoQc8Rt/PBLl6kcI4kgAkMYfWPzezf01FRgoaKaEGyPhv/ViebLmBhPANyGd
        L2NHrVc9btRD5vC/HPlMkCVKjqvaq7hNZwIDAQABMA0GCSqGSIb3DQEBBQUAA4IB
        AQCbvWqqKdS6dE3IGXBadpnrUcMOleEJ0eeELkac4dQh+Jk4aRjxGjzXsyKWKIfC
        c6dxiIsDqqJ55I9484paEpjVioCLpTL3AnHRbi5xSDIWPrhoDF2H9ANC6xU/b/md
        +H722s4x37jifguoOi21pVTzW0PnWYeDsSbtj8E8HsBYbA2c6g0A7fDK8J/wb4uw
        hBWSQPx/5j9P4DMHENhe7zsR6nVMxGWOpUAWQ9Zi7OCEs2WdxfVJo+kHVTH7+Njh
        cCFHm9IDUhMsnyoqOpUvVLY6WOeXU5Hf5FRqAUPO5ZRF0pgI9HrCndTjynCL8eog
        lBySHNiLWZTvYN1/1rcg57yS
        -----END CERTIFICATE-----
       
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEpAIBAAKCAQEA3M0Kf0yda9lXWL5j/lDmd3DSPft/4jp6B28flzRkmZle8sIp
        1H9fh1omdlOVWuF1gnEiRGPwgPvkj85Z2NOPri7sNTlwrl/Sg3n6KfSBTKn2vxr5
        4hjNTylLFbO8oKKoJA+Vf/u0wJcH7klza6kVWIdoh2DPzsm/KFawJOumHhfoOs2f
        WlXOV2hGzIrmgtBOAxCoN+2ODAM3jlVsLZR8oUw0I7YRsOgqHhdVdEEkm5c9BafL
        KkG655JKQoQc8Rt/PBLl6kcI4kgAkMYfWPzezf01FRgoaKaEGyPhv/ViebLmBhPA
        NyGdL2NHrVc9btRD5vC/HPlMkCVKjqvaq7hNZwIDAQABAoIBAGU2E97AZtSd/tzu
        APX9bXdInwbMdxVjSraHqIpt+MMzu4M5n2UJsedgWosYyziqamwNofCJgyAM1vtY
        UnUCnTTxy1KmbtFvmRatXg/HRVG4AyQcoHiUd+AWhJWBGzDi/oHxJs1Qus0hLgB7
        aM3r5p37C94qcXdPoTFDc2CpKC9YWaocKO1dhYYAL2zjfiWlSym++QoUWPWR4oSh
        /cUYlzV0wA0/jTP9wH6rZGiNH0JEJDYoCwy8870F5z1b5OoKGRVZEq7QdhCh2RCc
        kGHqFf9MqGNkbjOz7k13QbMcqwCHOhuUP5leC1c3iAjdqFbN4hPjXyE/BZWlMQjI
        OKjnypECgYEA/fSZ7YXfkuM34Gbv2BCgatYHiGsrbypTvd8WAqF6mGDRinVlCFGc
        LUM31gl9AfIcFKQ2hlTpHCcYPZX5JAtBoVlaIs/lLbEtrE8nxBnLJKsfh4e+/H2v
        lP7rhyCBkasD7MX6cqzgitU56KUnlHaMHC/t3jPsG5Z7m8UeOc8U0F8CgYEA3pQb
        0zjRY8HKPzR8xSH+hdz0yOdcFOUWQTCccKuwHio0LPUgaqJYiTh56PeXTe6N8akM
        Syzl4UxFAh81pGxFo7RLU4vuuIH7oMkiNDsBkDKbwb+EXOhqXDfx519XMuhH2xXU
        B1DsXl0I1VFw85LC18ZfPIe/5qtBtl8xHyb1//kCgYEA7hZeIYM7IjkH78hR4B1m
        aAMUuN7Qr73dGMuHlRvTFfzfNpHtEKmCZCT6uh3XJvXXQbraq4H7sjsszMBH/XTY
        KO7eRHjoAbh0e3ESdRVBkLUmMCgh9BHZhTShl+Pv1aOhYGAT92MAeOiDDAuaWePy
        Y5LDzWicWRjx9g4N0mDEwL0CgYBxdg65Hb2fnKn8jkUMOMgGdRxTTZ0jCaTOlnko
        9lxRBDKUuGBN+3QmfyOmHpCCqZiyF/qsV7bXoomLC13M82SMjtvXOv32EEy1KdLF
        zU5+s02y9m4C7ndJiztFNtS8nqwCgp4THK1hbQuTsnBhue6ZEAZ8VLb+X06gKOZh
        evrsAQKBgQDkLNt73b2rpejDwlVey7EXeaTMDM2uwCGp43OhjTxAVv12/mdbpihB
        HeTqxtvfbFOAwctzq7K5RXlO2hExkKN7cID/bk+pH74jfzxMDakgDDS6IHjhKF+r
        2sPlQakg1zU8eDLTkO16kzyrEt8nMWaW9rSHeSiUgHEIh5P+o5aTmQ==
        -----END RSA PRIVATE KEY-----

Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"