{% extends 'base_original.html' %}

{% block content %}
{% load staticfiles %}

<script type="text/javascript">
  $(document).ready(function() {
    var active = '{{ type_filter }}';
    $("#filts > li#" + active).css('font-weight', 'bold');
    if ('{{ suggestion }}' == 'None')
      $("h3#suggestions").hide();
  });
</script>


<div class="container">
  <h2>{{ page.paginator.count }} Results Found For '{{ query }}'  {{ suggestion }}</h2>

  <ul id="filts" class="nav nav-pills search-filter-bar">
    <li id="all" class="search-filter-tab" role="presentation"><a class="no-decoration" href="/search/?q={{ form.q.value }}">All Results</a></li>
    <li id="art" class="search-filter-tab" role="presentation"><a class="no-decoration" href="/search/art/?q={{ form.q.value }}">Art</a></li>
    <li id="fiction" class="search-filter-tab" role="presentation"><a class="no-decoration" href="/search/fiction/?q={{ form.q.value }}">Fiction</a></li>
    <li id="features" class="search-filter-tab" role="presentation"><a class="no-decoration" href="/search/features/?q={{ form.q.value }}">Features</a></li>
    <li id="poetry" class="search-filter-tab" role="presentation"><a class="no-decoration" href="/search/poetry/?q={{ form.q.value }}">Poetry</a></li>
  </ul>

  <h3 id="suggestions">Did you mean {{ suggestion }}?</h3>
  <dl>
    {% for result in page.object_list %}
      <dt>
	<a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a> - <a href="{{ result.object.contributors.all.first.get_absolute_url }}" class="author no-decoration">{{ result.object.contributors.all.first }}</a>
      </dt>
      <dd>
	<p style="margin: 0.2cm 1cm 1cm 1cm; color:#808080"> {{ result.object.teaser | truncatechars:200 }} </p>
      </dd>
    {% empty %}
      <p>No results found.</p>
    {% endfor %}
  </dl>

  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}

</div>

{% endblock %}
