

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/league_gothic.eot');
    src: url('../fonts/league_gothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league_gothic.woff2') format('woff2'),
         url('../fonts/league_gothic.woff') format('woff'),
         url('../fonts/league_gothic.ttf') format('truetype'),
         url('../fonts/league_gothic.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'futura_std';
	src: url('../fonts/FuturaStd-Book.otf');
}

h1 {
	font-family: 'league_gothicregular';
	text-align: center;
}
h2 {
	font-family: 'league_gothicregular';
	text-align: center;
}

figure {
	text-align: center;
}
footer{
	margin-top:50px;
}
body{
	color: #000;
}
.nav{
	letter-spacing: 3px;
}
.main-title{
	font-size:45px;
	margin:25px;
	letter-spacing: 3px;

}
.ad{
	float: left;
}
.logo{
	width:100px;
	height: auto;
}
.social-media-link{
	padding: 0px 5px 0px 5px;
	border: solid 1px #000;
	color: #000;
	text-decoration: none;
}
.header-image{
width:90%;
height: 200px;
margin: 0 auto;
display: block;
margin-top: 20px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.search-form-links{
	text-align: center;
	margin-top:8px;
	word-spacing: 10px;
}
.search-group{
	float: right;
}
.search-bottom-border{
	margin: 0 auto;
	border-top: 1px solid #000;
}
.search-input{
	border: 1px solid #fff;
	width: 120px;
	float:right;
	/*border-bottom: 1px solid #000;*/
}
.search-icon{
	float: left;
}
.search-form{
	width: 140px;
	margin: 0 auto;
}
.board-list{
	list-style-type: none;
	font-family: Minion Pro Regular;
	font-size: 14px;
	width:50%;
}
.list-left{
	float: left;
	text-align: right;
}
.list-right{
	float: right;
	text-align: left;
}

.f-t-links{

}
.top-line{
	font-family: futura;
	margin-top: 10px;
	margin-bottom: 15px;
	height:60px;
}
.navbar .navbar-collapse {
  text-align: center;
}
.header{
	font-family: futura;
	padding: 10px;
	font-size: 18px;
	border-bottom: 1px solid #000;
}
.subheader{
	font-family: futura;
	padding: 10px;
	font-size: 18px;

}
.left-border{
	border-left: 1px solid #000;
    position: absolute;
    top: 50%;
    bottom: 0;
}
.advo-navbar{
	font-family: futura;
	color: black;
	margin:0 auto;
	border: none;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: white;
	background-image: none;
	box-shadow: none;
	border-radius: 0px;
	text-align:center;
}
.text{
	font-family: Minion Pro Regular;
	font-size: 14px;
	width: 90%;
	margin: 0 auto;


}
.container{
	max-width: 900px;
}
.center{
	text-align: center;
}
.footer-navbar li{
	padding-right: 25px;
	padding-left: 25px;
}
.copyright{
	font-family: futura;
	text-align: center;
	padding: 25px;
	font-size: 12px;
}
.subheader-border{
	width:30px;
	margin-top:5px;
	margin-bottom:5px;
	border-top: 1px solid #000;
}
.navbar-divider{
	width:50%;
	margin-top:5px;
	margin-bottom:5px;
	border-top: 1px solid #000;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {


.main-title{
	display: none;
}
.logo{
	display: none;
}


/* Styles */
}

