<!doctype html>
<html lang="en" class="no-js">

<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="{% static 'magazine/css/reset.css' %}">
	<!-- CSS reset -->
	<link rel="stylesheet" href="{% static 'magazine/css/anthology_style.css' %}">
	<!-- Resource style -->
	<script src="{% static 'magazine/js/modernizr.js' %}"></script>
	<!-- Modernizr -->

	<title>The Harvard Advocate</title>
</head>

<body>


	<nav id="cd-vertical-nav">
		<ul>
			<li>
				<a href="#section0" data-number="0">
					<span class="cd-dot"></span>
					<span class="cd-label">Home</span>
				</a>
			</li>
			{% for path in paths.keys %}
			<li>
				<a href="#section{{path.number}}" data-number="{{path.number}}">
					<span class="cd-dot"></span>
					<span class="cd-label">{{path.name}}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>


	<section id="section0" class="cd-section">
		{% include "anthology_home.html" %}
	</section>


	{% for path, content in paths.items %}
  <section id="section{{path.number}}" class="cd-section" {% comment %} style='background-image: url("{{path.get_image}}")' {% endcomment %}>

		<div class="subsections">
			<ul>
				{% for i, subContent in content.items %}
				<li id="#subsection{{path.number}}{{i}}" class="cd-subsection is-visible" data-number="{{i}}">
					{% if i == 0 %} {% include "path_home.html" %} 
					{% else %} {% include "path_content.html" %} 
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>


		<nav id="cd-horizontal-nav">
			<ul>
				{% for i in subsections %}
				<li>
					<a href="#subsection{{path.number}}{{i}}" data-number="{{i}}">
						<span class="cd-dot"></span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</section>
	{% endfor %}

	<script src="{% static 'magazine/js/jquery-2.1.1.js' %}"></script>
	<script src="{% static 'magazine/js/anthologyMain.js' %}"></script>
	<!-- Resource jQuery -->
</body>

</html>