<div class="path-content">
    <h1>
     {{subContent.title|safe}}
    </h1>
    <h2>
     {% for author in subContent.authors.all %}
        {{author}} 
     {% endfor %}
    </h2>
    {% if subContent.lead_photo and subContent.lead_photo|length > 0 %}
        {% if subContent.subsection|divisibleby:2  %}
            <div class="col1 left">
            <article>
            <p>{{subContent.body|safe}}</p>
            </article>	
            </div>

            <div class="col2 left">
            {% if subContent.lead_photo and subContent.lead_photo|length > 0 %}
            <figure><img style="margin: 0 auto;" src="{{MEDIA_URL}}{{ subContent.lead_photo }}"></a></figure>
            {% endif %}
            </div>
        {% else %}
                <div class="col1 right">
                {% if subContent.lead_photo and subContent.lead_photo|length > 0 %}
                <figure><img style="margin: 0 auto;" src="{{MEDIA_URL}}{{ subContent.lead_photo }}"></a></figure>
                {% endif %}
                </div>

                <div class="col2 right">
                <article>
                <p>{{subContent.body|safe}}</p>
                </article>	
                </div>
        {% endif %}
    {% else %}
        <div class="one-col left">
            <article>
            <p>{{subContent.body|safe}}</p>
            </article>	
        </div>
    {% endif %}
</div>

